<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PHHBookmark TopPage</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>


  <link rel="stylesheet" href="/static/entry.css">
  <script type="text/javascript" src="/static/search.js"></script>
  <script type="text/javascript" src="/static/entry.js"></script>


</head>
<body>
  <% include header.ejs %>
  <input type="hidden" name="orgId" value="<%= orgId%>">
  <input type="hidden" name="url" value="<%= urlResult.url%>">
  <div class="container">
    <div class="containerHead"></div>
    <div class="contentsArea">
      <div class="news">
        <div>
          <a href="<%= urlResult.url %>">
            <div class="UrlThumbnail" style="width:600px; height:400px; background-image: url('<%= urlResult.thumbnail %>'); background-repeat: no-repeat; background-position: center; background-size: contain;"></div>
          </a>
        <div class="news">
          <a href="<%= urlResult.url %>"><h3><%= urlResult.title %></h3></a>
        </div>
        <div class="readMore">
          <a class="readMore" href="<%= urlResult.url %>">続きを読む</a>
        </div>
      </div>
      <div class="allComment">
        <div class="newComment">
          <div class="bookmarkEitor">
            <div class="commentArea">
              <div class="userCommentContainer">
                <textarea id="inputComment" name="comment" placeholder="コメントを書く"></textarea>
              </div>
              <div class="bookmarkControl">
                <div id="addbtn" class="bookmarkBtn btn" style="float:right;">
                  コメントする
                </div>
              </div>
              <div class="userComment">
                <div class="icon">
                  <a href=""><img src="" alt="" /></a>
                </div>
                <div class="userName">Myname</div>
                <div class="comment">
                  コメント
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="comments">
            <% for(var i = 0;i < union.length; i++){%>
              <div class="commentContainer">
                <div class="userProfile">
                  <div class="userIcon" style="<%= union[i].icon%>">
                  </div>
                  <div class="userName"><%= union[i].comment %></div>
                </div>
                <div class="commentWrapper">
                  <div class="comment">
                    <%= union[i].comment %>
                  </div>
                </div>
              </div>
              <%}%>
            </div>
          </div>
        </div>

      </div>

    </body>
    </html>
