<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>グループのメンバー</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <link rel="stylesheet" href="/static/members.css">
  <script type="text/javascript" src="/static/members.js"></script>

</head>
<body>
  <% include header.ejs %>
  <input type="hidden" name="orgId" value="<%= orgId %>">
  <div class="container">
    <div class="orgMembers">
      <div class="orgContent">
        <div class="orgName">
          <h2><%= org.name %></h2>
        </div>
        <div class="orgDescription">
          <p><%= org.description %></p>
        </div>
      </div>
      <%if (myPerm === 2) {%>
        <div class="addMembers">
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">招待</a>

          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <form id="searchform" method="post">
                <div>
                  <label for="search_term">Search name</label>
                  <input type="text" name="search_term" id="searchTerm">
                </div>
              </form>
              <div id="searchResults" class="collection"></div>
            </div>
            <div class="modal-footer">
              <a class="inviteBtn modal-action modal-close waves-effect waves-green btn-flat">招待する</a>
            </div>
          </div>
        </div>
        <%}%>
      </div>

      <div class="members">
        <ul class="collection">
          <% for (var i = 0; i < users.length; i++) { %>
            <li class="collection-item avatar member">
              <img src="/icon/<%= users[i].icon %>" alt="" class="circle">
              <span class="title profile"><%= users[i].displayName %></span>
              <p>説明だお</p>
              <%if (users[i].permission === 2) {%>
                <a class="secondary-content orgAdmin"><i class="material-icons perm_identity">perm_identity</i></a>
                <%} else {%>
                  <!-- Dropdown Trigger -->
                  <%if (myPerm === 2) {%>
                    <ul id='orgdown<%=i%>' class='dropdown-content'>
                      <li class="addPerm" id="<%= users[i].id%>"><a>管理者権限をつける</a></li>
                      <li class="" id="<%= users[i].id%>"><a>組織から削除する</a></li>
                    </ul>
                    <a class='dropdown-button btn secondary-content' href='#!' data-activates='orgdown<%=i%>' data-constrainwidth="false" data-alignment="right"><i class="material-icons list">list</i></a>
                    <%}%>
                    <%}%>
                  </li>
                  <%}%>
                  <!-- -->
                </ul>
              </div>
            </div>
          </body>
          </html>
